:root {
  --background-rgb: 0, 0, 0;
  --font-rgb: 231, 233, 234;
  --footer-font-rgb: 113, 118, 123;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* html,
body {
  max-width: 100vw;
  overflow-x: hidden;
} */

body {
  min-height: 100vh;
  color: rgb(var(--font-rgb));
  background: rgb(var(--background-rgb));
}

footer {
  color: rgb(var(--footer-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
